.drawerItem {
  border-radius: 20px;
  border-style: dotted;
  border-width: 1px;
  border-color: white;
}

.drawerItem:hover {
  border-color: grey;
}

a, a:hover {
  color: #5b607e;
}
 

body{ 
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}